<footer>
    
    <div class="container">
        <div class="rows-5">
            <div class="icon">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="text">
                <span>Copyright ©2020 All rights reserved </span>
            </div>
        </div>
    </div>
</footer>