*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 80.5%;
    margin-right: 131px;
    margin-left: 131px;
}
ul{
    list-style: none;
}
.top__menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 167px;
}
.top__menu ul li{
    display: inline-block;
    margin-top: 25px ;
    padding-right: 34px;
}
.top__menu ul li a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.top__menu ul li a:hover{
    color: #FF6464;
}
.top__menu-2{
    
    display: none;
}
.rows{
    display: grid;
    grid-template-columns: 56% 1fr;
    grid-gap: 20px;
    margin-top: 145px;
    margin-bottom: 70px;
}

.rows__left h2{
    font-size: 46px;
}
.rows__left span{
    font-size: 46px;
}

.rows__right img{
    border-radius: 150px;
    width: 245px; 
}
.spans{
    font-size: 17px;
    padding-top: 17px;
    padding-right: 85px;
}

button{
    padding: 7px 20px 9px 20px;
    font-size: 21px;
    margin-top: 22px;
    background-color: #FF6464;
    border: none;
    border-radius: 3px;
    color: white;
}
.colors{
    background-color: #EDF7FA;
    padding-right: 65px;
}
.rows-1{
    margin-top: 23px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.rows-1__left span{
    padding-left: 2px;
    font-size: 23px;
}
.rows-1__right{
    display: flex;
    justify-content: flex-end;
    margin-right: 145px;
    font-size: 17px;
    padding-top: 4px;
}
.rows-2{
    display: grid;
    grid-template-columns: 420px 420px;
    grid-gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.col{
    background-color: #FFFFFF;
}
.col h4{
    padding: 2px 0px 3px 24px;
    font-size: 28px;
}
.date-ct{
    padding: 24px 26px;
    font-size: 17px;
}
.date-ct span{
    padding-right: 33px;
    border-right: 1px solid;
}
.date-ct a{
    padding-left: 22px;
}
.col p {
    font-size: 17px;
    padding: 0 27px;
}
h3{
    padding-top: 29px ;
}
.rows-3{
    display: grid;
    grid-template-columns: 246px auto;
    grid-gap: 18px;
}
.rows-3-img img{
    padding: 25px 0;
}
.col-2{
    padding: 15px 0px;
}
.col-2 h4{
    font-size: 32px;
}
.years{
    padding: 8px 0px;
}
.years span{
    background-color: #142850;
    color: white;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 17px;
    margin-right: 25px;
}
.years a{
    color: #D9D9D9;
    font-size: 17px;
}
.col-2 p{
    font-size: 18px;
    padding: 15px 120px 10px 0px;
    color: #D9D9D9;
    margin-right: 20px;
}
.rows-5{
    text-align: center;
    margin-top: 130px;
    margin-right: 200px;
}
.icon a{
    font-size: 33px;
    padding: 0px 18px;
    color: black;
}
.text span{
    padding: 30px 0xp;
    font-size: 15px;
}
@media screen and (max-width: 375px){
    .rows{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    div#one{
        order: 2;
    }
    div#two{
        order: 1;
    }
    .top__menu{
        display: none;
    }
    .top__menu-2{
        display: block;
        display: flex;
        justify-content: flex-end;
        padding-top: 50px ;
        padding-right: 25px;
        font-size: 30px;    
    }
}