<section>
    <div class="container">
        <div class="rows" *ngFor="let user of userList; let i = index">
            <div class="rows__left" id="one">
                <h2>Hi, I am <span>{{user.name}}</span></h2>
                <span>{{user.position}}</span>
                <div class="spans">
                    <p>{{user.about}}</p>
                </div>
                <button>Download Resume</button>
            </div>
            <div class="rows__right" id="two">
                <img src="https://dongthanhphat.vn//userfiles/images/Partner/anh-dai-dien-FB-200.jpg" alt="">               
            </div>
        </div>
    </div>
</section>
<section class="colors">
    <div class="container">
        <div class="rows-1">
            <div class="rows-1__left">
                <span>Recent posts</span>
            </div>
            <div class="rows-1__right">
                <a href="">View all</a>
            </div>
        </div>
        <div class="rows-2" >
            <div class="col" *ngFor="let post of postList | slice:0:2; let i = index">
                <h4>{{post.title}}</h4>
                <div class="date-ct">
                    <span>{{post.createAt}}</span>  <a href="">{{post.categoryPostID}}</a>
                </div>
                <p>{{post.short_desc}}</p>
            </div>
            <!-- <div class="col">
                <h4>Creating pixel perfect icons in Figma</h4>
                <div class="date-ct">
                    <span>12 Feb 2020</span>  <a href="">Figma, Icon Design</a>
                </div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                     Velit officia consequat duis enim velit mollit. 
                     Exercitation veniam consequat sunt nostrud amet.</p>
            </div> -->
        </div>

    </div>
</section>
<section>
    <div class="container">
        <h3>Featured works</h3>
                <div class="rows-3" *ngFor="let blog of blogList | slice:0:3; let i = index">
                    <div class="rows-3-img">
                        <img src="https://picsum.photos/200/150" alt="">
                    </div>
                    <div class="col-2">
                        <h4>{{blog.name}}</h4>
                        <div class="years">
                            <span>{{blog.createAt}}</span> <a href="">{{blog.categoryProjectID}}</a>
                        </div>
                        <p>{{blog.short_desc}}</p>
                    </div>
                </div>
                <!-- <div class="rows-3">
                    <div class="rows-3-img">
                        <img src="./../img/Rectangle 32.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <h4>Vibrant Portraits of 2020</h4>
                        <div class="years">
                            <span>2020</span> <a href="">Illustration</a>
                        </div>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. 
                            Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <div class="rows-3">
                    <div class="rows-3-img">
                        <img src="./../img/Rectangle 34.jpg" alt="">
                    </div>
                    <div class="col-2">
                        <h4>36 Days of Malayalam type</h4>
                        <div class="years">
                            <span>2018</span> <a href="">Typography</a>
                        </div>
                 
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. 
                            Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div> -->
    </div>
</section>